html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "username") Username:
            input(name = "username" value = "abcd")
         br
         div
            label(for = "password") Password:
            input(name = "password" value = "abcd")
         br
         button(type = "submit") Login